# ignore everything in the directory
/*
# except the following
!/.gitignore
!/ATTRIBUTIONS
!/COPYRIGHT
!/LICENSE
!/*.md
!/*.sh
!/*.yaml
!/mvnw*
!/Dockerfile*
!/pom.xml
!/src/
!/demo/
!/images/
!/docker/
