body {
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	background: #eeece1;
	margin: 45px;
}

div.polaroid {
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

img.polaroid {
    width: 90%;
    height: auto;
    margin: 5% 5% 0 5%;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}