body {
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	background: #eeece1;
	margin: 45px;
}

.floater {
    float: left;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 25px;
}

img.logo {
    float: left;
    overflow: hidden;
    width: 128px;
    height: 128px;
}

img.polaroid {
    width: 90%;
    height: auto;
    margin: 5% 5% 0 5%;
}

form.polaroid {
    margin: 0 20px 0 20px;
}

div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 20px 25px 20px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

div.header {
    width: 100%;
    overflow: hidden;
}

div.wrapper {
    width: 100%;
    overflow: hidden;
}

div.first {
    float:left;
    overflow: hidden;
    width: 300px;
}

div.next {
    float:left;
    overflow: hidden;
    width: 250px;
    margin: 10px 0 0 40px;
}
