# MariaDB configuration file for injection into Docker container

[mysqld]
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
default-time-zone = '+00:00'
skip-host-cache
skip-name-resolve

[mysqld_safe]
skip_log_error
syslog
